// COLORS
$color-primary: #b7727b;
$color-primary-light: #bc9195;
$color-primary-dark: #aa6d73;

$color-grey-light1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

